.offline {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 300px;

  z-index: 9999;

  padding: 1em;
  border-radius: 0.5em;

  background-color: hsla(5, 30%, 90%, 0.8);
  backdrop-filter: blur(3px);

  color: hsl(5, 50%, 40%);

  border: 2px solid hsla(5, 50%, 40%, 0.3);
  box-shadow: 0 3px 6px -3px #a89;

  cursor: default;

  text-align: center;
}
