

dotenv

docker start thinktool-postgres

if [ ! -z "$(fd -I node_modules)" ]; then
  echo -e '\e[1m-> Skipping \e[34mtools/dev/link-packages.sh\e[0;1m...'
else
  echo -e '\e[1m-> Linking packages...\e[0m'
  tools/dev/link-packages.sh
fi

echo -e '\e[1m-> Run \e[34mtmuxp load tools/dev/session.tmuxp.yaml\e[0;1m to open development environment.\e[0m'

