dotenv

docker start thinktool-postgres

if [ ! -z "$(fd -I node_modules)" ]; then
  echo -e '\e[1m-> Skipping \e[34mcd src && yarn install --frozen-lockfile && yarn workspaces run build && cd ..\e[0;1m'
else
  echo -e '\e[1m-> Installing dependencies and building packages...\e[0m'
  cd src && yarn install --frozen-lockfile && yarn workspaces run build && cd ..
fi

echo -e '\e[1m-> Run \e[34mtmuxp load tools/dev/session.tmuxp.yaml\e[0;1m to open development environment.\e[0m'
