@use "../../../style/components";
@use "../../../style/base";
@use "../../general";

.search-bar {
  $background-color: #fbfbfb;
  $border: 1px solid #aaa;

  position: relative;
  box-sizing: border-box;

  cursor: text;
  font-size: 0.9em;
  width: 50vw;
  background-color: $background-color;
  padding: 0.2em 0.5em;
  border-radius: 6px;
  border: $border;

  box-shadow: inset #aaa 0 2px 6px -4px;
  border-radius: base.$overlay-border-radius;

  @include general.placeholder-text(#aaa);

  transition: opacity base.$quick-transition-time;

  display: flex;
  align-items: center;

  :global(.icon) {
    color: #bbb;
    font-size: 0.8em;

    display: none;
  }

  &.find :global(.fa-search) {
    display: block;
  }

  &.link :global(.fa-link) {
    display: block;
  }

  &.connect :global(.fa-plus-circle) {
    display: block;
  }

  &:hover {
    border-color: #888;
  }

  &.searching {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.searching .results {
    visibility: visible;
  }

  input {
    font: inherit;
    border: none;
    background: none;
    outline: none;

    color: #444;

    width: 100%;
  }

  .results {
    visibility: hidden;

    position: absolute;
    box-sizing: border-box;

    left: -1px; // Not sure why this is necessary
    top: 100%;
    width: 50vw;
    height: max(200px, 35vh);

    background-color: $background-color;
    border: $border;

    border-radius: 0 0 base.$overlay-border-radius base.$overlay-border-radius;
  }
}
