@use "../../../style/components";
@use "../../../style/base";
@use "../../general";

.search-bar {
  $background-color: #fbfbfb;
  $border: 1px solid #aaa;

  position: relative;
  box-sizing: border-box;

  cursor: text;
  font-size: 0.9em;
  width: 50vw;
  max-width: general.$outline-width;
  background-color: $background-color;
  padding: 0.2em 0.5em;
  border-radius: 6px;
  border: $border;

  box-shadow: inset #aaa 0 2px 6px -4px;
  border-radius: base.$overlay-border-radius;

  .placeholder {
    @include general.placeholder-text(#aaa);
  }

  transition: opacity base.$quick-transition-time;

  display: flex;
  align-items: center;

  :global(.icon) {
    color: #bbb;
    font-size: 0.8em;

    display: none;
  }

  &.find :global(.fa-search) {
    display: block;
  }

  &.link :global(.fa-link) {
    display: block;
  }

  &.connect :global(.fa-plus-circle) {
    display: block;
  }

  &:hover {
    border-color: #888;
  }

  &.showresults {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .results {
      visibility: visible;
    }
  }

  input {
    font: inherit;
    border: none;
    background: none;
    outline: none;

    color: #444;

    width: 100%;
  }

  .results {
    visibility: hidden;

    position: absolute;
    box-sizing: border-box;

    // Necessary to fit search bar exactly. Not sure why.
    left: -1px;
    right: -1px;

    top: 100%;

    height: 40vh;
    min-height: 150px;
    max-height: 50vw;

    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    background-color: $background-color;
    border: $border;

    border-radius: 0 0 base.$overlay-border-radius base.$overlay-border-radius;

    box-shadow: #aaa 0 2px 6px -4px;

    .result.selected + .result {
      border-color: #888;
    }

    .result {
      &, :global(.editor) {
        cursor: pointer;
      }

      padding: 0.25em 1em;

      &:hover, &.selected:hover {
        background-color: #f4f4f4;
      }

      &:not(:first-child) {
        border-top: 1px solid #eee;
      }

      &.selected {
        background-color: #f8f8f8;
        border-color: #888;
      }

      :global {
        @include general.item-grid;

        .bullet {
          height: 1em;
          width: 1em;
        }

        .other-parents-small:not(:empty) {
          // Roughly match space above item without parents due to font size and
          // line height differences.
          padding-top: 0.5em;
        }
      }
    }
  }
}
