body {
    font-family: sans-serif;
}

#app, #login {
    max-width: 80ex;
    padding: 1em;
    background-color: #f8f8f8;
    margin: 0 auto;
}

ul.outline-tree {
    list-style: none;
    padding-left: 1.5em;
}

.bullet {
    user-select: none;
    display: inline-block;
    width: 1.35ex;
    height: 1.35ex;
    padding: 0.5ex;
    margin-right: 0.65ex;
    cursor: pointer;

    text-align: center;
    vertical-align: middle;
}

.bullet.collapsed {
    background-image: url(/bullet-collapsed.svg);
}

.bullet.expanded {
    background-image: url(/bullet-expanded.svg);
}

li.outline-item > * {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

li.outline-root-item > .content {
    font-weight: bold;
}

ul.outline-root-tree {
    padding-left: 0;
}

input.content {
    border: none;
    background-color: inherit;
    outline: none;
}

input.content:focus {
    outline: none;
}

.item-line {
    display: inline-block;
    width: 100%;
}

.item-line.drop-target {
    border-top: 3px solid #d0d0d0;
    margin-top: -3px;
}

.item-line.drag-source {
    padding: 3px;
    margin: -3px;
    background-color: #eee;
}

.selected-content {
    font-weight: bold;
}

input.selected-content {
    font-size: inherit;
    background-color: inherit;
    border: none;
    outline: none;
}

.parents {
    font-size: 0.8em;
    color: #aaa;
    display: block;
    margin-bottom: 1rem;
}

.parents.label {
    margin: 0
}

a.thing-link {
    text-decoration: none;
    color: #444;
    background-color: #f0f0f0;
}

.parents a.thing-link, .parents .no-parents {
    margin-left: 1ex;
}

/* Login page */
/* TODO: Move this to separate file */
#login form {
    margin: 0;
    padding: 0;
    display: table;
}

#login .entry {
    display: table-row;
}

#login .entry > * {
    display: table-cell;
}

#login label {
    font-weight: bold;
    padding-bottom: 1em;
    padding-right: 1em;
}

#login input {
    padding: 6px;
    background-color: inherit;
    border: 1px solid #d0d0d0;
}

#login input:focus {
    outline: none;
}

#login input[type="submit"] {
    border: none;
    font-weight: bold;
    background-color: #eee;
    border: 1px solid #d0d0d0;
    margin: 0;
    padding: 0.5ex 1em;
    cursor: pointer;
}

#login input[type="submit"]:hover {
    background-color: #e8e8e8;
}
