body {
    font-family: sans-serif;
}

#app {
    max-width: 80ex;
    padding: 1em;
    background-color: #f8f8f8;
    margin: 0 auto;
}

ul.outline-tree {
    list-style: none;
    padding-left: 1.5em;
}

.bullet {
    user-select: none;
    display: inline-block;
    width: 1.35ex;
    height: 1.35ex;
    padding: 0.5ex;
    margin-right: 0.65ex;
    cursor: pointer;

    text-align: center;
    vertical-align: middle;
}

.bullet.collapsed {
    background-image: url(/bullet-collapsed.svg);
}

.bullet.expanded {
    background-image: url(/bullet-expanded.svg);
}

li.outline-item > * {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

li.outline-root-item > .content {
    font-weight: bold;
}

ul.outline-root-tree {
    padding-left: 0;
}

input.content {
    border: none;
    background-color: inherit;
    outline: none;
}

input.content:focus {
    outline: none;
}

.item-line {
    display: inline-block;
    width: 100%;
}

.item-line.drop-target {
    border-top: 3px solid #d0d0d0;
    margin-top: -3px;
}

.item-line.drag-source {
    padding: 3px;
    margin: -3px;
    background-color: #eee;
}

.selected-content {
    font-weight: bold;
}

input.selected-content {
    font-size: inherit;
    background-color: inherit;
    border: none;
    outline: none;
}
