@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap&subset=cyrillic,greek,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,400i&display=swap');

body {
    margin: 0;
    color: #202020;

    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
    line-height: 150%;
}

#app {
    margin: 1em;
}

.overview {
    max-width: 80ex;
    padding: 1em;
    margin: 0 auto;

    margin-top: 2em;
}

.parents {
    display: block;
    margin: 0 -6em;
    margin-bottom: 3em;
    padding: 1em 6em;
    min-height: calc(1.75ex + 1em);
    background: linear-gradient(0deg, #fafafa 0%, #ffffff 100%); /* For browsers that don't support calc in linear-gradient (e.g. Firefox) */
    background: linear-gradient(0deg, #fafafa 0%, #ffffff calc(min(6em, 100%)));
    border-radius: 0 0 6px 6px;

    transition: position 0.3s ease, padding 0.3s ease, margin 0.3s ease;
}

.no-parents {
    cursor: default;
    color: #c0c0c0;
    font-size: 0.8em;
    font-family: "Titillium Web";
    text-transform: uppercase;
    padding-left: 1.5rem;
}

.children {
    margin-top: 2em;
    margin-bottom: -0.8em; /* Because of margin on .item-line .content */
}

.references {
    margin: 3em -6em;
    margin-bottom: 0;
    padding: 1em 6em;
    padding-bottom: 0;
    color: #404040;
    background: linear-gradient(180deg, #fafafa 0%, #ffffff 100%); /* For browsers that don't support calc in linear-gradient (e.g. Firefox) */
    background: linear-gradient(180deg, #f8f8f8 0%, #ffffff calc(min(6em, 100%)));
    border-radius: 6px 6px 0 0;

    transition: position 0.3s ease, padding 0.3s ease, margin 0.3s ease;
}

h1.link-section {
    margin-top: calc(1em - 1.25ex);
    margin-bottom: 1em;

    font-size: 0.8em;
    color: #b0b0b0;
    cursor: default;
    font-family: "Titillium Web";
    font-weight: normal;
    text-transform: uppercase;
}

h1.link-section:first-child {
    margin-top: 0;
}

ul.outline-tree {
    margin: 0 auto;
    list-style: none;
    padding-left: 1.6em;
}

/* Root tree */
:not(.outline-item) > .outline-tree {
    padding-left: 1em;
}

.bullet {
    user-select: none;
    display: inline-block;
    width: 1.35ex;
    height: 1.35ex;
    padding: 0.5ex;
    margin-right: 0.6em;
    cursor: pointer;
    background-repeat: no-repeat;

    text-align: center;
    vertical-align: middle;

    touch-action: none;
}

.bullet.collapsed {
    background-image: url(/bullet-collapsed.svg);
}

.bullet.expanded {
    background-image: url(/bullet-expanded.svg);
}

li.outline-item > * {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

ul.outline-root-tree {
    padding-left: 0;
}

.item-line.drop-target {
    border-top: 3px solid #d0d0d0;
    margin-top: -3px;
}

.item-line.drag-source {
    padding: 3px;
    margin: -3px;
    background-color: #eee;
}

.item-line {
    display: inline-flex;
    width: 100%;
}

.item-line .content {
    width: 100%;
    margin-bottom: 0.8em;
}

.content.placeholder-child {
    color: #b0b0b0;
}

.item-line .bullet {
    flex-shrink: 0;
}

.backreferences-text, .other-parents-text {
    display: block;
    width: 100%;
    margin-bottom: 1em;

    font-size: 0.8em;
    font-family: "Titillium Web";
    text-transform: uppercase;
    color: #808080;
    cursor: default;

    margin-top: -0.15em; /* Hack to improve vertical centering of text */
    margin-bottom: 1.15em;
}

.selected-content {
    font-weight: bold;
}

#current-user {
    cursor: default;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    font-size: 0.8em;
    font-family: "Titillium Web";
    text-transform: uppercase;
    color: #b0b0b0;
    text-align: right;
}

#current-user .username {
    font-weight: bold;
    color: #b0b0b0;
}

#current-user a.log-out {
    display: inline-block;

    padding: 0.5ex 1ex;
    margin: -1ex;
    margin-left: 1ex;

    color: inherit;
    text-decoration: none;

    border-radius: 6px;

    transition: color 0.3s ease, background-color 0.3s ease;
}

#current-user a.log-out:hover {
    color: #808080;
    background-color: #f8f8f8;
}

#current-user a.log-out:active {
    color: #404040;
    background-color: #f8f8f8;
}

.selected-content {
    display: block;
    margin: -0.5em -0.5em;
    padding: 0.5em 0.5em;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0%);

    transition: border-color 0.3s ease;
}

.selected-content:hover {
    border-color: #f0f0f0;
}

.selected-content:focus-within {
    border-color: #d0d0d0;
}

/* Login page */
/* TODO: Move this to separate file */
#login {
    margin: 1em;
    padding: 2em;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #fafafa 0%, #ffffff calc(min(6em, 100%)));
}

#login form {
    padding: 0em;
}

#login form .form-table {
    display: table;
}

#login .entry {
    display: table-row;
}

#login .entry > * {
    display: table-cell;
}

#login label {
    font-size: 0.8em;
    font-family: "Titillium Web";
    text-transform: uppercase;
    color: #808080;

    padding-bottom: 2em;
    padding-right: 1em;
}

#login input {
    padding: 6px;
    background-color: inherit;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    outline: none;

    font-size: 1em;
    font-family: "Roboto", sans-serif;
    color: #202020;

    transition: border-color 0.3s ease;
}

#login input:hover {
    border-color: #dcdcdc;
}

#login input:focus {
    border-color: #d0d0d0;
}

#login input[type="submit"] {
    font-size: 0.8em;
    font-family: "Titillium Web";
    text-transform: uppercase;

    margin-right: 1em;
    padding: 1ex 1em;

    border: none;
    border-radius: 6px;
    background: none;

    color: #404040;

    cursor: pointer;

    transition: color 0.3s ease, background-color 0.3s ease;

    border: 1px solid #f0f0f0;
}

#login input[type="submit"]:hover {
    color: #606060;
    background-color: #f8f8f8;
}

#login input[type="submit"]:active {
    color: #404040;
}

@media screen and (max-width: 120ex) {
    .parents, .references {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 1ex;
    }

    h1.link-section {
        margin-left: 1em;
    }

    #current-user {
        margin-right: 2em;
    }
}

a.plain-text-link {
    word-break: break-all;
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid #bcc0d0;
}

a.internal-link {
    display: inline;
    color: inherit;
    text-decoration: none;

    border: 1px solid #dcdcdc;
    padding: 0 3px;
    border-radius: 3px;

    transition: border-color 0.3s ease, background-color 0.15s ease, color 0.15s ease;
}

a.internal-link:hover {
    border-color: #c0c0c0;
}

a.internal-link:active {
    border-color: #808080;
}

a.internal-link .empty-content {
    color: #c0c0c0;
    font-size: 0.8em;
    font-family: "Titillium Web";
    text-transform: uppercase;
}

a.internal-link-open {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
    color: #606060;
}

a.internal-link-open:hover {
    border-color: #f0f0f0;
}

.opened-link .content span {
    padding: 0 2px;
    border-radius: 3px;
    background-color: #f0f0f0;
    color: #606060;
    box-decoration-break: clone;
}

#link-autocomplete-popup {
    position: fixed;

    background-color: #fcfcfc;
    border: 1px solid #e0e0e0;
    z-index: 999;

    max-width: 20em;
}

#link-autocomplete-popup input {
    width: 100%;
    padding: 3px;

    font: inherit;
    font-weight: bold;

    outline: none;
    border: none;
    background-color: #f0f0f0;
}

ul#link-autocomplete-popup-results {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-autocomplete-popup-result {
    padding: 3px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    border-top: 1px solid #e0e0e0;
}

.link-autocomplete-popup-result.selected-result {
    background-color: #f0f0f0;
}

/* Search */

.search {
    position: absolute;
    left: 0;
    top: 0;

    font-size: 0.8em;
    line-height: 150%;

    margin: 1em;
}

.search input {
    font: inherit;

    padding: 0.2em 0.5em;

    border: 1px solid #e0e0e0;
    border-radius: 6px;

    outline: none;
}

.search input::placeholder {
    color: #c0c0c0;
}

ul.search-results {
    position: absolute;
    z-index: 999;

    width: 30em;

    padding: 0;
    margin: 0;
}

.search-results a {
    text-decoration: none;
    color: inherit;
}

.search-results a li.search-result {
    z-index: inherit;
    background-color: #fcfcfc;

    overflow: hidden;
    text-overflow: ellipsis;

    margin: 0.5em 0;
    padding: 0.5em;
    border: 1px solid #e0e0e0;
    border-radius: 6px;

    transition: ease 0.15s background-color;

    animation: 0.3s ease-in appear-from-above;
}

@keyframes appear-from-above {
    from { opacity: 0; margin-top: -0.5em; }
}

.search-results a:hover li.search-result {
    background-color: #f0f0f0;
}

.search-results li.search-result a:hover {
    background-color: #f0f0f0;
}
