<html>

<head>
  <meta charset="utf-8" />
  <title>Thinktool &ndash; Blog</title>
  <link rel="stylesheet" href="/landing.css" />
  <link rel="icon" href="/icon.png" type="image/png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div id="top-bar">
    <a href="/" id="logo">Thinktool</a>
    <a href="/demo.html" class="demo demo-small">Demo</a>
    <a id="login-link" href="/login.html">Log in</a>
  </div>

  <main>
    <div class="block small centered">
      <h1>Thinktool's Blog</h1>
      <p>It's pretty empty for now.</p>
      <p>
        There's just a single post here:
        <a href="zettelkasten-principles.html"><span>Taking better notes with principles form the Zettelkasten
            method</span></a>.
      </p>
      <p>
        Consider subscribing to the <a href="/blog.rss"><span>RSS feed</span></a> to be notified about new posts as
        they are published.
      </p>
    </div>
  </main>

  <footer>
    Made by <a href="https://johv.dk/"><span>Jonas Hvid</span></a>. Message me at <a class="email"
      href="mailto:jonas@thinktool.io"><span>jonas@thinktool.io</span></a>.
  </footer>

  <script data-goatcounter="https://thinktool.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>

</html>