<html>

<head>
  <meta charset="utf-8" />
  <title>Thinktool &ndash; Blog</title>
  <link rel="stylesheet" href="/landing.css" />
  <link rel="icon" href="/icon.png" type="image/png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="alternate" title="Thinktool" type="application/rss+xml" href="https://thinktool.io/blog.rss">
  <script src="https://kit.fontawesome.com/d7c222beb5.js" crossorigin="anonymous"></script>
</head>

<body>
  <div id="top-bar">
    <a href="/" id="logo">Thinktool</a>
    <nav>
      <a href="https://github.com/c2d7fa/thinktool"><i class="fab fa-github"></i>Code</a>
      <a href="https://reddit.com/r/thinktool"><i class="fab fa-reddit-alien"></i>Forum</a>
      <a href="/blog/"><i class="fas fa-newspaper"></i>Blog</a>
      <a href="/download.html"><i class="fas fa-desktop"></i>Download</a>
      <a href="/login.html"><i class="fas fa-sign-in-alt"></i>Log in</a>
      <a href="/demo.html" class="demo demo-small">Demo</a>
    </nav>
  </div>

  <main>
    <div class="block small centered">
      <h1>Posts</h1>
      <p>
        Consider subscribing to the <a href="/blog.rss"><span>RSS feed</span></a> to be notified about new posts as
        they are published.
      </p>
      <ul class="posts">
        <li>
          <a href="newsletter-october-2020.html" class="post newsletter-post">
            <h1>Newsletter</h1>
            <time datetime="2020-10-30">October 30th, 2020</time>
            <p>Quick update about new UI improvements.</p>
          </a>
        </li>
        <li>
          <a href="newsletter-july-2020.html" class="post newsletter-post">
            <h1>Newsletter</h1>
            <time datetime="2020-07-13">July 13th, 2020</time>
            <p>News about the offline version, and what I'll be working on next.</p>
          </a>
        </li>
        <li>
          <a href="zettelkasten-principles.html" class="post">
            <time datetime="2020-06-08">June 8th, 2020</time>
            <h1>Taking better notes with principles from the Zettelkasten method.</h1>
            <p>Three rules &ndash; inspired by Niklas Luhmann's Zettelkasten &ndash; that you can apply to take better
              notes.</p>
          </a>
        </li>
        <li>
          <a href="/tutorial.html" class="post">
            <time datetime="2020-06-05">June 5th, 2020</time>
            <h1>How to take notes with Thinktool.</h1>
            <p>Tutorial that shows you how to get started with Thinktool, and gives some tips about note-taking in the
              process.</p>
          </a>
        </li>
        <li>
          <a href="newsletter-may-2020.html" class="post newsletter-post">
            <h1>Newsletter</h1>
            <time datetime="2020-05-17">May 17th, 2020</time>
            <p>How I'm working on Thinktool, the upcoming desktop version, and a few new features.</p>
          </a>
        </li>
      </ul>
    </div>
  </main>

  <footer>
    Made by <a href="https://johv.dk/"><span>Jonas Hvid</span></a>. Message me at <a class="email"
      href="mailto:jonas@thinktool.io"><span>jonas@thinktool.io</span></a>.
  </footer>

  <script data-goatcounter="https://thinktool.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>

</html>