<html>

<head>
  <meta charset="utf-8">
  <title>Thinktool &ndash; Log In</title>
  <link rel="stylesheet" href="/landing.css">
  <link rel="icon" href="/icon.png" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header id="top-bar">
    <span id="logo">Thinktool</span>
  </header>
  <main class="login">
    <div>
      <h1>Forgot your password?</h1>
      <p>Enter your username and email below. Then you'll be sent an email with instructions on how to recover your
        account.</p>
      <form action="{{apiUrl}}/forgot-password" method="POST">
        <div class="form-table">
          <div class="entry">
            <label for="user">Username</label>
            <input id="user" name="user" maxlength="32" required />
          </div>
          <div class="entry">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" required />
          </div>
        </div>
        <input type="submit" value="Recover account" />
      </form>
    </div>
  </main>
</body>

</html>