<html>

<head>
  <meta charset="utf-8">
  <title>Thinktool, an associative note-taking app.</title>
  <link rel="stylesheet" href="/landing.css">
  <link rel="icon" href="/icon.png" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" title="Thinktool" type="application/rss+xml" href="https://thinktool.io/blog.rss">
  <script src="https://kit.fontawesome.com/d7c222beb5.js" crossorigin="anonymous"></script>
</head>

<body>
  <div id="top-bar">
    <a href="/" id="logo">Thinktool</a>
    <nav>
      <a href="https://reddit.com/r/thinktool"><i class="fab fa-reddit-alien"></i>Forum</a>
      <a href="/blog/"><i class="fas fa-newspaper"></i>Blog</a>
      <a href="/download.html"><i class="fas fa-desktop"></i>Download</a>
      <a href="/login.html"><i class="fas fa-sign-in-alt"></i>Log in</a>
      <a href="/demo.html" class="demo demo-small">Demo</a>
    </nav>
  </div>
  <main>
    <div class="block small centered">
      <h1>A tool for taking associative notes</h1>

      <p>Thinktool's <em>associative note-taking</em> makes interconnected notes simple to explore. Freely connect
        related notes together with bidirectional links, or organize notes into loose outlines with multiple parents.
        Thinktool is the right tool for understanding complex topics.</p>

      <div class="video">
        <div class="video-embed">
          <iframe src="https://www.youtube.com/embed/OOOLju8vaQU" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="block wide centered">
      <div class="horizontal features">
        <div class="feature">
          <div class="description">
            <h1>Multiple Parents</h1>
            <p>Any outliner lets you split a topic into subtopics, but sometimes items don't belong to just one
              category. With this feature, you can put each note in multiple places.</p>
          </div>
          <div class="screenshot">
            <img src="/feature-parents.png" />
          </div>
        </div>

        <div class="feature">
          <div class="description">
            <h1>Bidirectional Links</h1>
            <p>Use bidirectional links to associate related notes. With
              bidirectional links, you can just start writing, and worry about structuring your notes later. Thinktool
              will automatically show you the links you've added between notes &ndash; in both directions.</p>
          </div>
          <div class="screenshot">
            <img src="/feature-links.png" />
          </div>
        </div>

        <div class="feature">
          <div class="description">
            <h1>Seamless Exploration</h1>
            <p>Thinktool shows <em>everything</em> right there in the outline view. You can see references and other
              parents without clicking on anything, giving you seamless and context-aware exploration.</p>
          </div>
          <div class="screenshot">
            <img src="/feature-explore.png" />
          </div>
        </div>
      </div>
    </div>

    <div class="block edge newsletter-outer">
      <div class="small centered newsletter">
        <div>
          <h1>Stay updated.</h1>
          <p>Receive monthly updates about new features
            and get a look behind the scenes at Thinktool by subscribing to the
            newsletter.</p>
        </div>
        <form action="{{apiUrl}}/newsletter/subscribe" method="POST">
          <input type="email" name="email" required placeholder="you@example.com" />
          <input type="submit" value="Subscribe" />
        </form>
      </div>
    </div>

    <div class="block horizontal flip-900">
      <div class="box small">
        <h1>Try it!</h1>
        <p>I'm <a href="https://github.com/c2d7fa/thinktool"><span>actively working on Thinktool</span></a>. It may
          become a paid service in the future (aiming for &le;$5/mo.), but while it's still in early development, you
          can use it for free. Just <a href="/login.html"><span>create an account</span></a>. You can also try out the
          demo first:</p>
        <a href="/demo.html" class="demo demo-big">Go to demo</a>
        <p>I'm also currently working on an offline app for Thinktool. You can <a href="/download.html"><span>download a
              early prototype</span></a>.</p>
      </div>

      <div class="box small">
        <h1>(Or try something else.)</h1>

        <p>Thinktool is directly inspired by outliners like
          <a href="https://orgmode.org/" rel="nofollow" class="external-app-link"><span>Org mode</span></a>,
          <a href="https://workflowy.com/" rel="nofollow" class="external-app-link"><span>Workflowy</span></a> and
          <a href="https://dynalist.io/" rel="nofollow" class="external-app-link"><span>Dynalist</span></a>.
          The difference is that Thinktool lets you put one item in multiple
          places, so you're not limited to a hierarchy.</p>

        <p><a href="https://roamresearch.com/" rel="nofollow" class="external-app-link"><span>Roam Research</span></a>
          is another
          associative note-taking application, and it's much more polished
          than Thinktool. I'd recommend it! That being said, Roam is mostly
          focused on linking, and is a bit worse than Thinktool at structuring lots of notes.</p>
      </div>
    </div>
  </main>

  <footer>
    Made by <a href="https://johv.dk/"><span>Jonas Hvid</span></a>. Message me at <a class="email"
      href="mailto:jonas@thinktool.io"><span>jonas@thinktool.io</span></a>.
  </footer>

  <script data-goatcounter="https://thinktool.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>

</html>