<html>
  <head>
    <meta charset="utf-8">
    <title>Thinktool, a better way to organize your knowledge.</title>
    <link rel="stylesheet" href="/landing.css">
    <link rel="icon" href="/icon.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <script>fetch(`{{apiUrl}}/ping`);</script>
    <div id="top-bar">
      <span id="logo">Thinktool</span>
      <a id="login" href="/login.html">Log in</a>
    </div>
    <div id="main-text">
      <div class="section" id="explore-connections">
        <section>
          <h1>Structure your thoughts.</h1>
          <p>People don't think in paragraphs.</p>

          <p>Thinktool is an alternative to note-taking tools and outliners like
          <a href="https://evernote.com/" rel="nofollow" class="external-app-link"><span>Evernote</span></a>
          and <a href="https://workflowy.com/" rel="nofollow" class="external-app-link"><span>Workflowy</span></a>
          with a different approach.</p>

          <p>Thinktool lets you break out of the tyrannical hierarchy of a
          traditional outliner. It structures your items like a graph, so you
          can connect any item to any other item. It makes it possible to write
          down and explore your thoughts almost as fluently as you think
          them.</p>
        </section>
      </div>

      <div class="section" id="try-it">
        <section>
          <h1>Give it a try.</h1>
          <p>I'm currently working on developing Thinktool. Therefore, it is
          very unstable, and the current preview is mainly intended for
          testing.</p>
          <p>That being said, you can try it out now, and if you like it, you
          can <a href="/login.html"><span>sign up</span></a> for an account. The preview is
          currently free, but please note that Thinktool may become a paid
          subscription service in the future. Click the button below to try a
          free demo in your browser:</p>
          <a href="/demo.html" class="demo">Open demo</a>
        </section>
      </div>

      <div class="section" id="similar-tools">
        <section>
          <h1>Alternatives to Thinktool.</h1>
          <p><a href="https://roamresearch.com/" rel="nofollow" class="external-app-link"><span>Roam</span></a>
          is a fairly new app that does many of the same things as Thinktool,
          but which does most of them better. I'd recommend checking it out!</p>

          <p>Thinktool is directly inspired by outliners like
          <a href="https://orgmode.org/" rel="nofollow" class="external-app-link"><span>Org mode</span></a>,
          <a href="https://workflowy.com/" rel="nofollow" class="external-app-link"><span>Workflowy</span></a> and
          <a href="https://dynalist.io/" rel="nofollow" class="external-app-link"><span>Dynalist</span></a>,
          though Thinktool uses a more powerful data model underneath.</p>

          <p>Thinktool stores its data in a similar way to
          <a href="https://thebrain.com/"
          class="external-app-link"><span>TheBrain</span></a>, but whereas Thinktool presents
          its data like a tree, TheBrain tries to look more like a mind-mapping
          tool.</p>
        </section>
      </div>
    </div>
  </body>
</html>
