<html>

<head>
  <meta charset="utf-8">
  <title>Thinktool, an associative note-taking app.</title>
  <link rel="stylesheet" href="/landing.css">
  <link rel="icon" href="/icon.png" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" title="Thinktool" type="application/rss+xml" href="https://thinktool.io/blog.rss">
</head>

<body>
  <div id="top-bar">
    <a href="/" id="logo">Thinktool</a>
    <nav>
      <a href="/blog/">Blog</a>
      <a id="login-link" href="/login.html">Log in</a>
      <a href="/demo.html" class="demo demo-small">Demo</a>
    </nav>
  </div>
  <main>
    <div class="block small centered">
      <h1>An associative note-taking app.</h1>

      <p>Thinktool's associative note-taking makes complex notes simple to
        explore. Freely connect related notes together with links, or add just
        the right structure by organizing notes into trees. Thinktool is the
        right tool for understanding complex topics.</p>

      <div class="video">
        <div class="video-embed">
          <iframe src="https://www.youtube.com/embed/OOOLju8vaQU" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="block wide centered">
      <div class="horizontal features">
        <div class="feature">
          <div class="description">
            <h1>Flexible structure.</h1>
            <p>In Thinktool, one note can be in multiple places at once. Use
              this feature to add structure to complex topics, so you can always
              get to the information you need.</p>
          </div>
          <div class="screenshot">
            <img src="/feature-parents.png" />
          </div>
        </div>

        <div class="feature">
          <div class="description">
            <h1>Associative note-taking.</h1>
            <p>Use bidirectional links to associate related notes. With
              bidirectional links, you can write without worrying about how your
              notes should be structured. Just add links, and Thinktool will do
              the rest.</p>
          </div>
          <div class="screenshot">
            <img src="/feature-links.png" />
          </div>
        </div>

        <div class="feature">
          <div class="description">
            <h1>Seamless exploration.</h1>
            <p>Thinktool automatically shows you related notes &ndash; right
              there in the tree view. Easily jump to other places where a note
              exists with <i>other parents</i>, or see where it's mentioned with
              <i>references</i>.</p>
          </div>
          <div class="screenshot">
            <img src="/feature-explore.png" />
          </div>
        </div>
      </div>
    </div>

    <div class="block edge newsletter-outer">
      <div class="small centered newsletter">
        <div>
          <h1>Stay updated.</h1>
          <p>Receive monthly updates about new features
            and get a look behind the scenes at Thinktool by subscribing to the
            newsletter.</p>
        </div>
        <form action="{{apiUrl}}/newsletter/subscribe" method="POST">
          <input type="email" name="email" required placeholder="you@example.com" />
          <input type="submit" value="Subscribe" />
        </form>
      </div>
    </div>

    <div class="block horizontal flip-900">
      <div class="box small">
        <h1>Try it.</h1>
        <p>Thinktool is being actively developed. In fact, <a href="/work.html"><span>I'm working on it as we
              speak!</span></a></p>
        <p>In the future, it may become a paid subscription service, but you can
          check out the preview for free. Click the button below to check out the
          demo:</p>
        <a href="/demo.html" class="demo demo-big">Go to demo</a>
        <p>
          I'm also currently working on an offline app for Thinktool. You can already <a
            href="/download.html"><span>download a very early
              prototype</span></a>.
        </p>
      </div>

      <div class="box small">
        <h1>Or try something else.</h1>

        <p>Thinktool is directly inspired by outliners like
          <a href="https://orgmode.org/" rel="nofollow" class="external-app-link"><span>Org mode</span></a>,
          <a href="https://workflowy.com/" rel="nofollow" class="external-app-link"><span>Workflowy</span></a> and
          <a href="https://dynalist.io/" rel="nofollow" class="external-app-link"><span>Dynalist</span></a>.
          The difference is that Thinktool lets you put one item in multiple
          places, so you're not limited to a hierarchy.</p>

        <p><a href="https://roamresearch.com/" rel="nofollow" class="external-app-link"><span>Roam Research</span></a>
          is another
          associative note-taking application, and it's much more polished
          than Thinktool. I'd recommend it! That being said, Roam is mostly
          focused on linking, and is a bit worse than Thinktool at structuring lots of notes.</p>
      </div>
    </div>
  </main>

  <footer>
    Made by <a href="https://johv.dk/"><span>Jonas Hvid</span></a>. Message me at <a class="email"
      href="mailto:jonas@thinktool.io"><span>jonas@thinktool.io</span></a>.
  </footer>

  <script>fetch(`{{apiUrl}}/ping`, { mode: "no-cors" });</script>
  <script data-goatcounter="https://thinktool.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>

</html>