<html>

<head>
  <meta charset="utf-8">
  <title>Thinktool &ndash; Recover Account</title>
  <link rel="stylesheet" href="/landing.css">
  <link rel="icon" href="/icon.png" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header id="top-bar">
    <span id="logo">Thinktool</span>
  </header>
  <main class="login">
    <div>
      <h1>Recover your account.</h1>
      <p>Enter your and email below. Then you'll be sent an email with instructions on how to recover your account.</p>
      <form action="{{apiUrl}}/recover-account" method="POST">
        <div class="form-table">
          <div class="entry">
            <label for="user">Username</label>
            <input id="user" name="user" maxlength="32" required />
          </div>
          <div class="entry">
            <label for="password">New Password</label>
            <input id="password" type="password" name="password" required />
          </div>
          <div class="entry">
            <label for="key">Reset Key</label>
            <input id="key" name="key" placeholder="It's in the email you got this link from." required />
          </div>
        </div>
        <input type="submit" value="Recover account" />
      </form>
    </div>
  </main>
</body>

</html>