<html>

<head>
  <meta charset="utf-8">
  <title>How to use Thinktool</title>
  <link rel="stylesheet" href="/tutorial.css">
  <link rel="icon" href="/icon.png" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id="top-bar">
    <a href="/" id="logo">Thinktool</a>
  </div>

  <article>
    <h1>How to use Thinktool</h1>
    <div class="last-updated">Last updated <time datetime="2020-06-05">Jun 5, 2020</time>.</div>
    <p>
    </p>
  </article>

  <footer>
    Made by <a href="https://johv.dk/"><span>Jonas Hvid</span></a>. Message me at <a class="email"
      href="mailto:jonas@thinktool.io"><span>jonas@thinktool.io</span></a>.
  </footer>

  <script>fetch(`{{apiUrl}}/ping/tutorial`, { mode: "no-cors" });</script>
</body>

</html>