@use "sass:color";

@import url("https://fonts.googleapis.com/css?family=Montserrat:500,500i,800,800i&display=swap&subset=cyrillic,latin-ext");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

$ui-tiny-font-size: 0.9 * 0.9rem;
$ui-small-font-size: 0.9rem;

$other-parents-small-font-size: $ui-tiny-font-size;

$quick-transition-time: 150ms;
$slow-transition-time: 300ms;

$top-bar-ui-color: #00000060;

$overlay-box-shadow-color: #00000020;
$overlay-box-shadow-radius: 12px;
$overlay-border: 1px solid #00000030;
$overlay-border-radius: 12px;

$toolbar-border: 1px solid #00000020;

@mixin ui-font {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

@mixin heading-font {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

@mixin subtle-button($color: #000000) {
  @include ui-font;

  border: none;
  outline: none;

  padding: 3px 6px;
  margin: 0 -6px;
  border-radius: 3px;

  background-color: transparent;

  transition: all $quick-transition-time;

  &:hover:not(:disabled) {
    background-color: color.scale($color, $alpha: -90%);
  }

  &:active:not(:disabled) {
    background-color: color.scale($color, $alpha: -83%);
  }
}

@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
