@use "components";
@use "base";

$main-bg-color: #fcfcfc;
$outline-width: 80ex;

/* #region General components */

.email {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #00000028;
  transition: border-color base.$quick-transition-time;
}

.email:hover {
  border-color: #00000080;
}

button {
  @include components.button;
}

/* #endregion */

/* #region Main container and overview */

body {
  margin: 0;
  color: #303030;

  font-family: "Inter", sans-serif;
  font-size: 1.1em;
  letter-spacing: -0.02em;
  line-height: 150%;
}

.app {
  background-color: $main-bg-color;

  /* Needs to be clickable, so it can handle focus. */
  outline: none;
  min-height: 100vh;
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.parents {
  max-width: $outline-width;
  width: 100%;
}

.link-section {
  @include components.ui-heading;

  margin-top: 0;
  margin-bottom: 0.5rem;

  color: #808080;
}

.overview-main {
  margin: 1rem 0;
  max-width: $outline-width;
  width: 100%;

  & > .content:first-child {
    font-size: 1.2em;
    font-weight: bold;
  }
}

.children {
  margin-top: 2rem;
}

.references {
  max-width: $outline-width;
  width: 100%;

  color: #404040;
}

/* #endregion */

/* #region Outline structure */

.subtree {
  @include base.reset-list;
}

.subtree-container > .subtree {
  padding-left: 2rem;
}

.item {
  margin-bottom: 1rem;

  display: grid;
  grid: "empty parents" auto "bullet item" auto / 20px 1fr;
  gap: 1px 1rem;

  .bullet {
    grid-area: bullet;
  }

  .other-parents-small {
    grid-area: parents;
  }

  .content {
    grid-area: item;
  }
}

/* #endregion */

/* #region Other parents list */

.other-parents-small {
  display: flex;
  flex-direction: row;

  @include base.reset-list;

  font-size: base.$other-parents-small-font-size;

  li {
    display: inline-block;
    line-height: 100%;
  }

  li + li {
    margin-left: 0.5em;
  }

  .other-parent-small {
    padding: 0 3px;
    color: hsl(90, 30%, 30%);
    border: 1px solid hsl(90, 20%, 80%);
    border-radius: 3px;

    .bullet {
      margin: 0;
      margin-top: -2px;

      width: 10px !important;
      height: 10px !important;
      min-width: 10px !important;
      min-height: 10px !important;
      max-width: 10px !important;
      max-height: 10px !important;

      .bullet-hover-rect {
        opacity: 0%;
      }
    }

    transition: border-color base.$quick-transition-time;

    cursor: pointer;
    &:hover {
      border-color: hsl(90, 20%, 80%);

      .bullet .bullet-hover-rect {
        opacity: 100%;
      }
    }
  }
}

/* #endregion */

/* #region Content */

.content {
  width: 100%;
  cursor: text;
}

.content.placeholder-child {
  color: #b0b0b0;
}

.placeholder-empty {
  color: #c8c8c8;
}

/* #region Backreferences and other parents */

.other-parents-text {
  display: inline-block;
  white-space: nowrap;

  font-size: 0.8em;
  color: #808080;

  cursor: default;

  @include base.ui-font;

  align-self: flex-end;
  margin-right: 0.5rem;

  color: hsl(90, 30%, 30%);

  align-self: top;
}

button.backreferences-text {
  @include components.ui-heading;
  color: hsl(180, 30%, 30%);
  @include base.subtle-button(hsl(180, 30%, 30%));
}

/* #endregion */

/* #region External links */

a.plain-text-link {
  word-break: break-all;
  color: inherit;
  text-decoration: none;

  border-bottom: 2px solid #00000028;
  transition: border-color base.$quick-transition-time;
}

a.plain-text-link:hover {
  border-color: #00000080;
}

/* #endregion */

/* #region Internal links */

.internal-link {
  cursor: pointer;

  padding: 2px 4px;
  border-radius: 6px;

  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  border: 1px solid hsla(40, 80%, 80%, 60%);

  transition: border base.$quick-transition-time;
}

.internal-link:hover {
  border: 1px solid hsl(40, 80%, 80%);
}

.internal-link .empty-content {
  color: #c0c0c0;
}

/* #endregion */

/* #endregion */

/* #region Editor */

.editor {
  color: inherit;

  width: 100%;
  padding: 0;
  margin: 0;

  line-height: 175%;
}

.editor .ProseMirror {
  outline: none;
  white-space: pre-wrap;
}

/* #endregion */

/* #region Bullets */

.bullet {
  user-select: none;
  display: inline-block;

  /* We have to really insist on this for some reason */
  width: 20px !important;
  height: 20px !important;
  min-width: 20px !important;
  min-height: 20px !important;

  margin-top: 7px;
  margin-right: 1rem;
  cursor: pointer;

  text-align: center;
  vertical-align: middle;

  touch-action: none;
}

.bullet .bullet-hover-rect {
  opacity: 0%;
  fill: #e0e0e0;
  transition: opacity base.$quick-transition-time, fill base.$quick-transition-time;
}

.bullet .bullet-circle {
  transition: fill base.$quick-transition-time;
}

.bullet:hover .bullet-hover-rect {
  opacity: 100%;
}

.bullet.expanded .bullet-circle {
  fill: #d0d0d0;
}

.bullet.expanded .bullet-hover-rect {
  fill: #f0f0f0;
}

.bullet.collapsed .bullet-circle {
  fill: #606060;
}

.bullet.terminal {
  cursor: default;
}

.bullet.terminal .bullet-circle {
  fill: #d0d0d0;
}

.bullet.terminal .bullet-hover-rect {
  display: none;
}

/* #region Other parents bullets */

.bullet.parent-bullet.collapsed .bullet-circle {
  fill: hsl(90, 30%, 30%);
  stroke: hsl(90, 30%, 30%);
}

.bullet.parent-bullet.expanded .bullet-circle {
  fill: hsl(90, 20%, 70%);
  stroke: hsl(90, 20%, 70%);
}

.bullet.parent-bullet .bullet-hover-rect {
  opacity: 60%;
  fill: hsl(90, 20%, 80%);
}

.bullet.parent-bullet path.bullet-circle {
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.bullet.parent-bullet.expanded .bullet-hover-rect {
  opacity: 30%;
}

.bullet.parent-bullet:hover .bullet-hover-rect {
  opacity: 100%;
}

/* #endregion */

/* #region References bullets */

.bullet.reference-bullet.collapsed .bullet-circle {
  fill: hsl(180, 30%, 30%);
  stroke: hsl(180, 30%, 30%);
}

.bullet.reference-bullet.expanded .bullet-circle {
  fill: hsl(180, 20%, 70%);
  stroke: hsl(180, 20%, 70%);
}

.bullet.reference-bullet .bullet-hover-rect {
  opacity: 60%;
  fill: hsl(180, 20%, 80%);
}

.bullet.reference-bullet.expanded .bullet-hover-rect {
  opacity: 30%;
}

.bullet.reference-bullet:hover .bullet-hover-rect {
  opacity: 100%;
}

/* #endregion */

/* #region Opened link bullets */

.bullet.opened-link-bullet .bullet-circle {
  fill: hsl(40, 80%, 60%);
  stroke: hsl(40, 80%, 60%);
}

.bullet.opened-link-bullet .bullet-hover-rect {
  opacity: 60%;
  fill: hsl(40, 80%, 80%);
}

.bullet.opened-link-bullet path.bullet-circle {
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.bullet.opened-link-bullet:hover .bullet-hover-rect {
  opacity: 100%;
}

/* #endregion */

/* #region (Inline) link bullets */

.bullet.link-bullet {
  cursor: pointer;

  margin: 0;
  margin-bottom: 3px;
  margin-right: 0px;
  margin-left: -1px;
}

.bullet.link-bullet .bullet-circle {
  fill: hsl(40, 80%, 60%);
  stroke: hsl(40, 80%, 60%);
}

.bullet.link-bullet .bullet-hover-rect {
  fill: hsl(40, 80%, 80%);
}

.internal-link-open > .bullet.link-bullet .bullet-hover-rect {
  opacity: 60%;
}

.bullet.link-bullet path.bullet-circle {
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.internal-link:hover > .bullet.link-bullet .bullet-hover-rect {
  opacity: 100%;
}

/* Don't break between bullet and first word. */

.internal-link {
  white-space: nowrap;
}

.link-content {
  white-space: normal;
}

/* #endregion */

/* #endregion */

/* #region Drag and drop */

.item {
  position: relative;
}

.drop-target::before {
  content: "";
  display: block;
  position: absolute;

  pointer-events: none;

  left: 0;
  right: 0;
  height: 3px;

  margin-bottom: 3px;

  background-color: #d0d0d0;
  border-radius: 1.5px;
}

.drag-source {
  opacity: 50%;
  transition: opacity base.$quick-transition-time;
}

/* #endregion */

/* #region Search popup */

.link-autocomplete-popup {
  position: fixed;
  z-index: 1000;

  left: 20vw;
  top: 15vh;

  width: 60vw;
  max-height: 60vh;

  @include components.overlay;
  @include components.popup-with-shadow;

  display: flex;
  flex-direction: column;

  overflow-y: none;
}

@supports not (backdrop-filter: blur(3px)) {
  .link-autocomplete-popup {
    background: #fffffff0;
  }
}

@media (min-width: 1600px) {
  .link-autocomplete-popup {
    left: 25vw;
    width: 50vw;
  }
}

@media (min-width: 2000px) {
  .link-autocomplete-popup {
    left: 30vw;
    width: 40vw;
  }
}

@media (max-width: 1100px) {
  .link-autocomplete-popup {
    left: 15vw;
    width: 70vw;
  }
}

@media (max-width: 740px) {
  .link-autocomplete-popup {
    left: 5vw;
    width: 90vw;
  }
}

@media (max-height: 900px) {
  .link-autocomplete-popup {
    top: 10vh;
    max-height: 70vh;
  }
}

@media (max-height: 600px) {
  .link-autocomplete-popup {
    top: 5vh;
    max-height: 90vh;
  }
}

.link-autocomplete-popup-results {
  border-top: base.$overlay-border;
}

.link-autocomplete-popup-results {
  flex: 1 1 100%;

  @include base.reset-list;

  overflow-y: auto;
  overflow-wrap: break-word;
}

.link-autocomplete-popup input {
  cursor: pointer;

  width: 100%;
  box-sizing: border-box;

  font: inherit;
  background: none;
  outline: none;
  border: none;

  background-color: #00000008;
  padding: 1rem 2rem;
  border-radius: base.$overlay-border-radius base.$overlay-border-radius 0 0;

  &:hover {
    background-color: #00000010;
  }

  &.selected-result {
    background-color: #00000018;

    &:hover {
      background-color: #00000020;
    }
  }
}

.link-autocomplete-popup-result {
  cursor: pointer;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #00000018;

  &:hover {
    background-color: #00000008;
  }

  &.selected-result {
    background-color: #00000010;

    &:hover {
      background-color: #00000018;
    }
  }
}

.link-autocomplete-popup .create-label {
  display: inline-block;
  position: absolute;
  right: 2rem;
  top: 1rem;

  font-size: base.$ui-small-font-size;
  vertical-align: middle;

  @include components.button;

  color: transparent;

  transition: color base.$quick-transition-time;
}

.link-autocomplete-popup input:hover + .create-label,
.link-autocomplete-popup input.selected-result + .create-label {
  color: #00000080;
}

.link-autocomplete-popup-id {
  @include components.item-id;
  margin-left: 1em;
}

.link-autocomplete-popup-id::before {
  content: "#";
}

/* #endregion */

/* #region Top bar */

.top-bar {
  display: flex;
  justify-content: flex-start;

  padding: (base.$ui-small-font-size / 2) 1rem;
  @include components.overlay;
  z-index: 1500;
}

.top-bar .logo {
  @include components.logo;
  margin-right: 1rem;

  transition: color base.$quick-transition-time;
  color: #606060;
  &:hover {
    color: #404040;
  }
}

.top-bar button {
  white-space: nowrap;

  font-size: base.$ui-small-font-size;
  color: base.$top-bar-ui-color;
  @include base.subtle-button(base.$top-bar-ui-color);
}

#current-user {
  margin-left: auto; /* Right align */
  text-align: right;

  a {
    @extend button;
    text-decoration: inherit;

    font-size: base.$ui-small-font-size;
    color: base.$top-bar-ui-color;
    @include base.subtle-button(base.$top-bar-ui-color);
  }

  a.username {
    margin-right: 1rem;
  }
}

/* #endregion */

/* #region Toolbar */

.toolbar {
  position: sticky;
  top: 0;
  width: 100%;
  overflow-x: auto;
  z-index: 550;

  font-size: base.$ui-small-font-size;
  padding-bottom: base.$ui-small-font-size;
  @include components.overlay;

  display: flex;
}

/* #region Toolbar border */

// When the toolbar is hidden, there should be a border on the top bar instead.
// This is a somewhat awkward way to achieve that.

.toolbar {
  border-bottom: base.$toolbar-border;
}

.toolbar ~ .overview {
  border-top: none;
}

.overview {
  border-top: base.$toolbar-border;
}

/* #endregion */

@media (max-height: 580px) {
  .toolbar {
    position: static;
  }
}

.toolbar-group {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.icon {
  @include components.icon-before;
}

.toolbar-group h6 {
  @include components.ui-heading;
  font-size: base.$ui-tiny-font-size;
  color: #a0a0a0;
}

.toolbar-group > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 6em;
}

.toolbar button {
  white-space: nowrap;

  font-size: base.$ui-small-font-size;

  color: #606060;
  @include base.subtle-button(#606060);

  display: flex;
  align-items: center;
}

/* #endregion */

/* #region Tutorial */

.toolbar button.tutorial-relevant {
  text-shadow: 0 0 8px hsl(45, 100%, 50%);
}

.toolbar button:disabled.tutorial-relevant {
  text-shadow: 0 0 8px hsla(45, 100%, 50%, 40%);
}

.toolbar button.tutorial-not-introduced {
  opacity: 30%;
}

.tutorial a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #00000028;
  transition: border-color base.$quick-transition-time;

  &:hover {
    border-color: #00000080;
  }
}

.tutorial ~ .overview {
  padding-right: 30rem;
}

.tutorial {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  width: 24rem;
  padding: 1rem;
  background-color: hsl(45, 100%, 85%);
  border: base.$overlay-border;
  border-radius: base.$overlay-border-radius;

  max-height: 90vh;
  max-height: calc(100vh - 6rem);
  overflow-y: auto;

  z-index: 600;
}

@media (max-width: 1000px) {
  .tutorial {
    position: static;
    width: auto;
    border-radius: 0;

    z-index: 500;
  }

  .tutorial ~ .overview {
    padding-right: 2rem;
  }
}

.tutorial h1 {
  @include components.heading;
  font-size: 1.25em;
  margin: 0;
}

.tutorial p {
  margin: 0;
  margin-top: 1rem;
}

.tutorial strong {
  font-weight: 650;
}

.tutorial .fake-button {
  white-space: nowrap;

  font-size: base.$ui-small-font-size;
  @include base.ui-font;

  vertical-align: bottom;
  margin: 0 0.25em;

  .icon {
    margin-right: 0.25em;
    margin-top: 2px;
  }
}

.tutorial .tutorial-navigation {
  margin-top: 1rem;

  display: flex;
  justify-content: flex-end;
}

.tutorial-navigation button {
  background: none;
  margin: none;
  border: none;
  outline: none;

  background-color: #00000010;
  color: #000000a0;
  padding: 0.25em 0.5em;
  border-radius: 3px;

  font-size: inherit;
  font-size: 0.9em;

  color: #000000a0;

  transition: background-color base.$quick-transition-time;
}

.tutorial-navigation button:not(:disabled):hover {
  cursor: pointer;
  background-color: #00000028;
}

.tutorial-navigation button + button {
  margin-left: 1em;
}

.tutorial-navigation button:disabled {
  background-color: #00000004;
  color: #00000040;
}

.tutorial .step {
  cursor: default;
  font-size: 1.1rem;
  margin-left: 0.5em;
  color: #00000040;
}

/* #endregion */

/* #region Changelog */

.changelog {
  position: fixed;
  bottom: 2rem;
  left: 2rem;

  width: 24rem;
  max-width: calc(100vw - 6rem);
  padding: 1rem;

  max-height: calc(100vh - 6rem);

  background-color: hsl(0, 0%, 97%);
  border-radius: 6px;

  z-index: 600;

  font-size: 0.9em;
}

.changelog > button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;

  outline: none;
  border: none;
  background: none;
  font: inherit;

  font-size: 0.9em;

  color: #a0a0a0;

  transition: color base.$quick-transition-time;
}

.changelog > button:hover {
  cursor: pointer;

  color: #606060;
}

.changelog-entries {
  @include base.reset-list;

  display: flex;
  flex-direction: column;

  max-height: 24rem;
  overflow-y: auto;
}

.changelog-entry + .changelog-entry {
  margin-top: 1rem;
}

.changelog-entry h2 {
  font: inherit;
  font-weight: bold;
  margin: 0;
}

.changelog-entry > ul {
  list-style: disc;
  padding-left: 2rem;
}

/* #endregion */

/* #region Introduction slideshow */

.splash-outer {
  z-index: 900;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: #ffffff60;
  backdrop-filter: blur(6px);

  display: grid;
  place-items: center;
}

.splash-main {
  background-color: #f8f8f8;
  padding: 2rem;

  border: base.$overlay-border;
  box-shadow: base.$overlay-box-shadow-color 0 0 base.$overlay-box-shadow-radius;
  border-radius: base.$overlay-border-radius;

  width: 30rem;
}

.splash-main h1 {
  font-size: 1.25em;
  font-weight: bold;
}

.splash-main > * {
  margin: 0;
}

.splash-main > * + * {
  margin-top: 1rem;
}

.splash-header {
  color: #00000040;
  font-size: 0.8em;
  font-style: italic;
}

.splash-nav {
  display: grid;
  grid-template-columns: [prev] 50% [next] 50%;
}

.splash-nav button:first-child {
  grid-column: prev;
  justify-self: start;
}

.splash-nav button:last-child {
  grid-column: next;
  justify-self: end;
}

.tutorial {
  font-family: "Recursive", sans-serif !important;
  font-weight: 400 !important;
  font-variation-settings: "MONO" 0, "CASL" 0.5 !important;
  letter-spacing: 0px !important;

  text-transform: none !important;
}

.splash-nav button {
  background: none;
  margin: none;
  border: none;
  outline: none;

  background-color: #00000010;
  color: #000000a0;
  padding: 0.25em 0.5em;
  border-radius: 6px;

  font-size: 1em;

  transition: background-color base.$quick-transition-time;

  cursor: pointer;
}

button.suggested-button {
  background-color: hsl(190, 20%, 40%);
  color: hsl(190, 10%, 95%);
  font-weight: 500;
}

.splash-nav button:not(:disabled):hover {
  background-color: #00000028;
}

.splash-nav button.suggested-button:not(:disabled):hover {
  background-color: hsl(190, 30%, 50%);
}

.splash-nav button + button {
  margin-left: 1em;
}

.splash-nav button:disabled {
  background-color: #00000004;
  color: #00000040;
}

.splash-image {
  border-radius: 6px;
  width: 100%;
  height: 15rem;
  background-color: $main-bg-color;
  border: 1px solid #e0e0e0;
  padding: 1px;
}

.splash-image img {
  border-radius: 5px;
}

/* #endregion */
