@use "../../../style/base";
@use "../../../style/components";
@use "../../general";

.topBar {
  width: 100vw;
  box-sizing: border-box;

  display: flex;

  padding: (base.$ui-small-font-size * 0.5) 1rem;
  @include components.overlay;

  position: relative;
  z-index: 2000;

  .left {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .middle {
    margin: 0 2em;
  }

  .right {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .logo {
    @include components.logo;
    margin-right: 1rem;
  
    transition: color base.$quick-transition-time;
    color: #606060;
    &:hover {
      color: #404040;
    }
  }

  button {
    white-space: nowrap;
  
    font-size: base.$ui-small-font-size;
    color: base.$top-bar-ui-color;
    @include base.subtle-button(base.$top-bar-ui-color);
  }

  .currentUser {
    display: flex;
    flex-direction: row;

    a {
      @extend button;
      text-decoration: inherit;
      line-height: normal;
  
      font-size: base.$ui-small-font-size;
      color: base.$top-bar-ui-color;
      @include base.subtle-button(base.$top-bar-ui-color);
    }
  
    a.username {
      margin-right: 1rem;
    }
  }
}
