@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&display=swap&subset=cyrillic,greek,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,500i,800,800i&display=swap&subset=cyrillic,latin-ext");

body {
  margin: 0;
  color: #303030;

  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  line-height: 150%;
}

ul.outline-tree {
  margin: 0 auto;
  list-style: none;
  padding-left: 1.6em;
}

/* General UI elements */

.toggle-button {
  display: inline-flex;
}

.toggle-button button:first-child {
  margin-right: 0;
  border-radius: 3px 0 0 3px;
}

.toggle-button button:last-child {
  margin-left: 0;
  border-radius: 0 3px 3px 0;
}

.toggle-button .active-toggle {
  background-color: #e4e4e4;
  color: #787878;
}

/* Root tree */
:not(.outline-item) > .outline-tree {
  padding-left: 1em;
}

.bullet {
  user-select: none;
  display: inline-block;
  width: 1.35ex;
  height: 1.35ex;
  padding: 0.5ex;
  margin-right: 0.6em;
  cursor: pointer;
  background-repeat: no-repeat;

  text-align: center;
  vertical-align: middle;

  touch-action: none;
}

.bullet.collapsed {
  background-image: url(/bullet-collapsed.svg);
}

.bullet.expanded {
  background-image: url(/bullet-expanded.svg);
}

.connection-tag {
  cursor: default;
  display: inline-block;
  margin-right: 0.8em;
  padding: 0 0.25em;
  border-radius: 6px;
  font-family: "Titillium Web", sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  background-color: #e9eef0;
  color: #7d9196;
  align-self: flex-start;
  flex-shrink: 0;
  max-width: 50%;
  margin-bottom: 1rem;
}

li.outline-item > * {
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}

ul.outline-root-tree {
  padding-left: 0;
}

.item-line.drop-target {
  border-top: 3px solid #d0d0d0;
  margin-top: -3px;
}

.item-line.drag-source {
  padding: 3px;
  margin: -3px;
  background-color: #eee;
}

.item-line {
  display: inline-flex;
  width: 100%;
}

.item-line .content {
  width: 100%;
  margin-bottom: 0.8em;
}

.content.placeholder-child {
  color: #b0b0b0;
}

.item-line .bullet {
  flex-shrink: 0;
}

.backreferences-text,
.other-parents-text {
  display: block;
  width: 100%;
  margin-bottom: 1em;

  font-size: 0.8em;
  font-family: "Titillium Web";
  text-transform: uppercase;
  color: #808080;
  cursor: default;

  margin-top: -0.15em; /* Hack to improve vertical centering of text */
  margin-bottom: 1.15em;
}

a.plain-text-link {
  word-break: break-all;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #00000028;
  transition: border-color 150ms;
}

a.plain-text-link:hover {
  border-color: #00000080;
}

a.internal-link {
  display: inline;
  color: inherit;
  text-decoration: none;

  border: 1px solid #dcdcdc;
  padding: 0 3px;
  border-radius: 3px;

  transition: border-color 0.3s ease, background-color 0.15s ease, color 0.15s ease;
}

a.internal-link:hover {
  border-color: #c0c0c0;
}

a.internal-link:active {
  border-color: #808080;
}

a.internal-link .empty-content {
  color: #c0c0c0;
  font-size: 0.8em;
  font-family: "Titillium Web";
  text-transform: uppercase;
}

a.internal-link-open {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  color: #606060;
}

a.internal-link-open:hover {
  border-color: #f0f0f0;
}

.opened-link .content span {
  padding: 0 2px;
  border-radius: 3px;
  background-color: #f0f0f0;
  color: #606060;
  box-decoration-break: clone;
}

/* EDITOR */

.editor textarea {
  width: 100%;
  padding: 0;
  margin: 0;
  resize: none;
  border: none;
  background: none;
  outline: none;

  line-height: 150%;
  height: 1.5em; /* Will be overwritten in JS */
  overflow: hidden; /* Shouldn't matter, since we resize automatically */

  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

.editor-inactive {
  white-space: pre-wrap;
}

/* THING SELECTION POPUP */

.link-autocomplete-popup {
  position: fixed;
  z-index: 9999;

  left: 20vw;
  top: 15vh;

  width: 60vw;
  max-height: 60vh;

  background-color: #f8f8f8;
  border-radius: 6px;
  box-shadow: #d8d8d8 0 0 12px;

  display: flex;
  flex-direction: column;

  overflow-y: none;
}

@media (min-width: 1600px) {
  .link-autocomplete-popup {
    left: 25vw;
    width: 50vw;
  }
}

@media (min-width: 2000px) {
  .link-autocomplete-popup {
    left: 30vw;
    width: 40vw;
  }
}

@media (max-width: 1100px) {
  .link-autocomplete-popup {
    left: 15vw;
    width: 70vw;
  }
}

@media (max-width: 740px) {
  .link-autocomplete-popup {
    left: 5vw;
    width: 90vw;
  }
}

@media (max-height: 900px) {
  .link-autocomplete-popup {
    top: 10vh;
    max-height: 70vh;
  }
}

@media (max-height: 600px) {
  .link-autocomplete-popup {
    top: 5vh;
    max-height: 90vh;
  }
}

.link-autocomplete-popup input {
  width: 100%;

  font: inherit;
  background: none;
  outline: none;
  border: none;

  background-color: #f0f0f0;
  border-bottom: 1px solid #e8e8e8;
  padding: 0.3em 1em;
  border-radius: 6px 6px 0 0;
}

.link-autocomplete-popup-results {
  flex: 1 1 100%;

  margin: 0;
  padding: 0;

  list-style: none;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.link-autocomplete-popup-result {
  padding: 0.3em 1em;
  border-bottom: 1px solid #f0f0f0;
}

.link-autocomplete-popup-result.selected-result {
  background-color: #e8e8e8;
}

/* OVERVIEW */

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2em;
}

.parents {
  max-width: calc(80ex + 6em);
  padding: 1em;
  width: 100%;

  background: linear-gradient(180deg, #fcfcfc 0%, #fafafa 100%);
  border-radius: 6px 6px;

  display: flex;
  flex-direction: column;
}

.parents-inner {
  max-width: 80ex;
  align-self: center;
  width: 100%;
}

.no-parents {
  cursor: default;
  color: #c0c0c0;
  font-size: 0.8em;
  font-family: "Titillium Web";
  text-transform: uppercase;
  padding-left: 1.5rem;
}

.overview-main {
  margin: 4em 0;
  max-width: 80ex;
  width: 100%;
}

.selected-content {
  font-weight: bold;
}

.selected-content {
  display: block;
  margin: -0.5em -0.5em;
  padding: 0.5em 0.5em;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0%);

  transition: border-color 0.3s ease;
}

.selected-content:hover {
  border-color: #f0f0f0;
}

.selected-content:focus-within {
  border-color: #d0d0d0;
}

.children {
  margin-top: 2em;
  margin-bottom: -0.8em; /* Because of margin on .item-line .content */
}

.references {
  max-width: calc(80ex + 6em);
  width: 100%;
  padding: 1em;

  color: #404040;
  background: linear-gradient(180deg, #f8f8f8 0%, #fafafa 100%);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.references-inner {
  max-width: 80ex;
  width: 100%;
}

h1.link-section {
  margin-top: calc(1em - 1.25ex);
  margin-bottom: 1em;

  font-size: 0.8em;
  color: #b0b0b0;
  cursor: default;
  font-family: "Titillium Web";
  font-weight: normal;
  text-transform: uppercase;
}

h1.link-section:first-child {
  margin-top: 0;
}

/* TOP BAR */

.top-bar {
  padding: 0.35em;
  display: flex;
  justify-content: flex-start;

  background: linear-gradient(180deg, #fcfcfc 0%, #fafafa 100%);
  color: #a0a0a0;
}

.top-bar button {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;

  white-space: nowrap;

  font-family: "Titillium Web";
  text-transform: uppercase;
  font-size: 0.8em;

  color: #808080;

  padding: 0 1ex;
  background-color: #f0f0f0;
  border-radius: 3px;

  transition: color 0.3s ease, background-color 0.3s ease;

  margin-right: 0.5em;
}

.top-bar button:hover {
  cursor: pointer;

  color: #606060;
  background-color: #e8e8e8;
}

.top-bar button:active {
  background-color: #dcdcdc;
}

/* Current user */

#current-user {
  margin-left: auto; /* Right align */
  cursor: default;
  font-size: 0.8em;
  font-family: "Titillium Web";
  text-transform: uppercase;
  color: #b0b0b0;
  text-align: right;
}

#current-user .username {
  text-decoration: none;
  font-weight: bold;
  color: #b0b0b0;
}

#current-user a.log-out {
  display: inline-block;

  color: inherit;
  margin-left: 1ex;
  text-decoration: none;

  transition: color 0.3s ease;
}

#current-user a.log-out:hover {
  color: #808080;
}

#current-user a.log-out:active {
  color: #404040;
}

/* TOOLBAR */

#app {
  margin-bottom: 2em;
}

.toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;

  padding: 0.35em 0;
  background-color: #eaeaea;
  box-shadow: #e0e0e0 0 0 6px;

  display: flex;

  font-size: 0.8em;

  overflow-x: auto;
}

.toolbar-group {
  display: flex;
}

.toolbar-group + .toolbar-group::before {
  content: "";
  height: 100%;
  border-left: 1px solid #d8d8d8;
  margin-left: 0.5rem;
}

.toolbar-group h6 {
  cursor: default;
  display: inline-block;
  color: #a0a0a0;
  font-weight: normal;
  font-size: 0.9em;
  text-transform: uppercase;
  font-family: "Titillium Web";
  margin: 0;
  padding: 0;
  margin-left: 0.5rem;
  align-self: center;
  white-space: nowrap;
}

.toolbar-group > div {
  display: flex;
}

.toolbar button {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;

  white-space: nowrap;

  font-family: "Titillium Web";
  text-transform: uppercase;
  font-size: 1em;

  color: #808080;

  padding: 0 1ex;
  background-color: #dadada;
  border-radius: 3px;

  margin-left: 1ex;

  transition: color 0.3s ease, background-color 0.3s ease;
}

.toolbar button:hover {
  cursor: pointer;

  color: #606060;
  background-color: #d0d0d0;
}

.toolbar button:active {
  background-color: #c0c0c0;
}

/* Table view */

.children-table table {
  margin-top: 1em;
  /*border-collapse: collapse;*/
  width: 100%;

  border-spacing: 0 1em;
}

.children-table table td {
  vertical-align: top;
  padding: 0.5em;
  border: 1px solid #f0f0f0;
  border-left: none;
}

.children-table tbody tr td:first-child {
  border-radius: 6px 0 0 6px;
  border-left: 1px solid #f0f0f0;
}

.children-table tbody tr td:last-child {
  border-radius: 0 6px 6px 0;
}

.children-table table td > ul {
  list-style: none;
  margin: 0;
  padding: 0;

  margin-bottom: -0.8em; /* Cancel out padding on list item */
}

.children-table table td > ul > li {
  margin: 0;
  padding: 0;
}

.children-table thead td {
  border: none;
  padding: 0;
}

.children-table thead td > span {
  cursor: default;
  padding: 0 0.25em;
  border-radius: 6px;
  font-family: "Titillium Web", sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  background-color: #e9eef0;
  color: #7d9196;
}
