@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&display=swap&subset=cyrillic,greek,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,500i,800,800i&display=swap&subset=cyrillic,latin-ext");

:root {
  --overview-bg-color: #fcfcfc;
}

body {
  margin: 0;
  color: #303030;

  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  line-height: 150%;
}

ul.outline-tree {
  margin: 0 auto;
  margin-top: 1rem;
  list-style: none;
  padding-left: 1.6em;
}

/* General UI elements */

.toggle-button {
  display: inline-flex;
}

.toggle-button button:first-child {
  margin-right: 0;
  border-radius: 3px 0 0 3px;
}

.toggle-button button:last-child {
  margin-left: 0;
  border-radius: 0 3px 3px 0;
}

.toggle-button .active-toggle {
  background-color: #e4e4e4;
  color: #787878;
}

/* Outer container */
.app {
  outline: none;
  min-height: 100vh;
}

/* OUTLINE */

/* Root tree */
:not(.outline-item) > .outline-tree {
  padding-left: 1em;
}

/* #region Bullets */

.bullet {
  user-select: none;
  display: inline-block;
  width: 20px !important;
  height: 20px !important;
  margin-top: 5px;
  margin-right: 1em;
  cursor: pointer;
  background-repeat: no-repeat;

  text-align: center;
  vertical-align: middle;

  touch-action: none;
}

.bullet .bullet-hover-rect {
  opacity: 0%;
  fill: #e0e0e0;
  transition: opacity 150ms, fill 150ms;
}

.bullet .bullet-circle {
  transition: fill 150ms;
}

.bullet:hover .bullet-hover-rect {
  opacity: 100%;
}

.bullet.expanded .bullet-circle {
  fill: #d0d0d0;
}

.bullet.expanded .bullet-hover-rect {
  fill: #f0f0f0;
}

.bullet.collapsed .bullet-circle {
  fill: #606060;
}

.bullet.terminal {
  cursor: default;
}

.bullet.terminal .bullet-circle {
  fill: #d0d0d0;
}

.bullet.terminal .bullet-hover-rect {
  display: none;
}

/* #endregion */

ul.outline-root-tree {
  padding-left: 0;
}

.drop-target {
  border-top: 3px solid #d0d0d0;
  margin-top: -3px;
}

.drag-source {
  padding: 3px;
  margin: -3px;
  background-color: #eee;
}

.outline-item {
  display: flex;
}

.outline-item:not(:last-child) {
  margin-bottom: 1rem;
}

.inner-item {
  flex: 1;
}

.content-line {
  display: flex;
}

.content {
  flex: 1;
  cursor: text;
}

.content.placeholder-child {
  color: #b0b0b0;
}

.placeholder-empty {
  color: #c8c8c8;
}

.backreferences-text,
.other-parents-text {
  display: inline-block;

  margin-right: 0.5rem;

  font-size: 0.8em;
  font-family: "Titillium Web";
  text-transform: uppercase;
  color: #808080;
  vertical-align: middle;
}

.other-parents-text {
  cursor: default;
}

button.backreferences-text {
  /* Because this is a button, but it shouldn't look like one. */
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.backreferences-text {
  cursor: pointer;
  transition: color 150ms;
}

.backreferences-text:hover {
  color: #404040;
}

a.plain-text-link {
  word-break: break-all;
  color: inherit;
  text-decoration: none;

  border-bottom: 2px solid #00000028;
  transition: border-color 150ms;
}

a.plain-text-link:hover {
  border-color: #00000080;
}

/* Internal links */

.link-bullet {
  user-select: none;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 3px;
  cursor: pointer;
  background-repeat: no-repeat;

  text-align: center;
  vertical-align: middle;

  touch-action: none;
}

.internal-link {
  border: 1px solid #00000020;
  padding: 2px 4px;
  border-radius: 6px;
  background-color: #fcfcfc;

  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  transition: box-shadow 200ms;
}

.internal-link-page {
  border: 2px solid #00000020;
  background-color: #ffffff;
  font-weight: bold;
}

.internal-link-open {
  box-shadow: #00000020 0 0 3px;
}

.opened-link {
  box-shadow: #00000020 0 0 3px;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  margin-left: -1rem;
}

.internal-link > .link-content {
  margin-left: 0.25em;
}

.link-bullet.collapsed {
  background-image: url(bullet-link-collapsed.svg);
}

.link-bullet.expanded {
  background-image: url(bullet-link-expanded.svg);
}

.link-bullet.terminal {
  background-image: url(bullet-link-expanded.svg);
}

.internal-link .empty-content {
  color: #c0c0c0;
  font-size: 0.8em;
  font-family: "Titillium Web";
  text-transform: uppercase;
}

/* EDITOR */

.editor textarea {
  color: inherit;

  width: 100%;
  padding: 0;
  margin: 0;
  resize: none;
  border: none;
  background: none;
  outline: none;

  line-height: 175%;
  height: 1.5em; /* Will be overwritten in JS */
  overflow: hidden; /* Shouldn't matter, since we resize automatically */

  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

.editor-inactive {
  white-space: pre-wrap;
  line-height: 175%;
}

/* Pages */

.page {
  border: 2px solid #00000028;
  border-radius: 12px;
  padding: 0.5rem 1rem;

  margin-left: -1rem; /* Align bullets */

  background-color: #ffffff;
}

.page .page {
  border-color: #00000010;
}

.page > .inner-item > .content-line .editor-inactive,
.page > .inner-item > .content-line .editor textarea {
  font-weight: bold;
}

/* THING SELECTION POPUP */

.link-autocomplete-popup {
  backdrop-filter: blur(3px);

  position: fixed;
  z-index: 1000;

  left: 20vw;
  top: 15vh;

  width: 60vw;
  max-height: 60vh;

  background: #ffffffa0;
  border: 1px solid #00000030;
  border-radius: 6px;
  box-shadow: #00000020 0 0 12px;

  display: flex;
  flex-direction: column;

  overflow-y: none;
}

@supports not (backdrop-filter: blur(3px)) {
  .link-autocomplete-popup {
    background: #fffffff0;
  }
}

@media (min-width: 1600px) {
  .link-autocomplete-popup {
    left: 25vw;
    width: 50vw;
  }
}

@media (min-width: 2000px) {
  .link-autocomplete-popup {
    left: 30vw;
    width: 40vw;
  }
}

@media (max-width: 1100px) {
  .link-autocomplete-popup {
    left: 15vw;
    width: 70vw;
  }
}

@media (max-width: 740px) {
  .link-autocomplete-popup {
    left: 5vw;
    width: 90vw;
  }
}

@media (max-height: 900px) {
  .link-autocomplete-popup {
    top: 10vh;
    max-height: 70vh;
  }
}

@media (max-height: 600px) {
  .link-autocomplete-popup {
    top: 5vh;
    max-height: 90vh;
  }
}

.link-autocomplete-popup input {
  cursor: pointer;

  width: 100%;

  font: inherit;
  background: none;
  outline: none;
  border: none;

  background-color: #00000008;
  padding: 1.2rem 1.8rem;
  border-radius: 6px 6px 0 0;
}

.link-autocomplete-popup-results {
  border-top: 1px solid #00000030;
}

.link-autocomplete-popup-results {
  flex: 1 1 100%;

  margin: 0;
  padding: 0;

  list-style: none;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.link-autocomplete-popup-result {
  cursor: pointer;
  padding: 0.6rem 1.8rem;
  border-bottom: 1px solid #00000018;
}

.link-autocomplete-popup-result.selected-result {
  background-color: #00000010;
}

.link-autocomplete-popup-result:hover {
  background-color: #00000008;
}

.link-autocomplete-popup-result.selected-result:hover {
  background-color: #00000018;
}

.link-autocomplete-popup input.selected-result {
  background-color: #00000018;
}

.link-autocomplete-popup input:hover {
  background-color: #00000010;
}

.link-autocomplete-popup input.selected-result:hover {
  background-color: #00000020;
}

.link-autocomplete-popup .create-label {
  display: inline-block;
  position: absolute;
  right: 1.8rem;
  top: 1.2rem;

  font-size: 0.8em;
  font-family: "Titillium Web";
  text-transform: uppercase;
  vertical-align: middle;

  color: transparent;

  transition: color 100ms;
}

.link-autocomplete-popup input:hover + .create-label,
.link-autocomplete-popup input.selected-result + .create-label {
  color: #00000080;
}

.link-autocomplete-popup-id {
  color: #00000040;
  font-family: "Titillium Web";
  font-size: 0.8em;
  text-transform: uppercase;
  vertical-align: middle;
}

.link-autocomplete-popup-id::before {
  content: "#";
}

/* OVERVIEW */

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2em;

  background-color: var(--overview-bg-color);
}

.parents {
  max-width: calc(80ex + 6em);
  padding: 1em;
  width: 100%;

  background: linear-gradient(180deg, #fcfcfc 0%, #fafafa 100%);
  border-radius: 6px 6px;

  display: flex;
  flex-direction: column;
}

.parents-inner {
  max-width: 80ex;
  align-self: center;
  width: 100%;
}

.no-parents {
  cursor: default;
  color: #c0c0c0;
  font-size: 0.8em;
  font-family: "Titillium Web";
  text-transform: uppercase;
  padding-left: 1.5rem;
}

.overview-main {
  margin: 4em 0;
  max-width: 80ex;
  width: 100%;
}

.selected-content {
  font-weight: bold;
  border-bottom: 2px solid #e0e0e0;
}

.selected-content textarea {
  font-weight: bold;
}

.children {
  margin-top: 2em;
}

.references {
  max-width: calc(80ex + 6em);
  width: 100%;
  padding: 1em;

  color: #404040;
  background: linear-gradient(180deg, #f8f8f8 0%, #fafafa 100%);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.references-inner {
  max-width: 80ex;
  width: 100%;
}

h1.link-section {
  margin-top: calc(1em - 1.25ex);
  margin-bottom: 1em;

  font-size: 0.8em;
  color: #b0b0b0;
  cursor: default;
  font-family: "Titillium Web";
  font-weight: normal;
  text-transform: uppercase;
}

h1.link-section:first-child {
  margin-top: 0;
}

/* TOP BAR */

.top-bar {
  padding: 0.35em;
  display: flex;
  justify-content: flex-start;

  background: linear-gradient(180deg, #fcfcfc 0%, #fafafa 100%);
  color: #a0a0a0;
}

.logo {
  font-family: "Montserrat";
  margin-left: 0.5em;
  margin-right: 1em;
  color: #606060;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  user-select: none;
  text-decoration: none;
}

.logo:hover {
  color: #202020;
}

@media (max-width: 480px) {
  .top-bar .logo {
    display: none;
  }
}

.top-bar button {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;

  white-space: nowrap;

  font-family: "Titillium Web";
  text-transform: uppercase;
  font-size: 0.8em;

  color: #808080;

  padding: 0 1ex;
  background-color: #f0f0f0;
  border-radius: 3px;

  transition: color 0.3s ease, background-color 0.3s ease;

  margin-right: 0.5em;
}

.top-bar button:hover {
  cursor: pointer;

  color: #606060;
  background-color: #e8e8e8;
}

.top-bar button:active {
  background-color: #dcdcdc;
}

/* Current user */

#current-user {
  margin-left: auto; /* Right align */
  cursor: default;
  font-size: 0.8em;
  font-family: "Titillium Web";
  text-transform: uppercase;
  color: #b0b0b0;
  text-align: right;
}

#current-user .username {
  text-decoration: none;
  font-weight: bold;
  color: #b0b0b0;
}

#current-user a.log-out {
  display: inline-block;

  color: inherit;
  margin-left: 1ex;
  text-decoration: none;

  transition: color 0.3s ease;
}

#current-user a.log-out:hover {
  color: #808080;
}

#current-user a.log-out:active {
  color: #404040;
}

/* TOOLBAR */

.toolbar {
  position: sticky;
  top: 0;
  width: 100%;

  padding: 0.35em 0;
  padding-bottom: 0.75em;
  background-color: #f8f8f8;
  box-shadow: #e0e0e0 0 3px 6px -3px, inset #e8e8e8 0 3px 6px -3px;

  display: flex;

  font-size: 0.8em;

  overflow-x: auto;

  z-index: 550;
}

@media (max-height: 580px) {
  .toolbar {
    position: static;
  }
}

.toolbar-group {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.icon {
  --ggs: 0.8;
}

.gg-add-r,
.gg-remove-r,
.gg-arrow-bottom-right-r,
.gg-add,
.gg-arrow-top-left-o,
.gg-arrow-bottom-right-o,
.gg-info,
.gg-list {
  margin-left: -0.5em;
  margin-right: 0.5em;
}

.gg-maximize-alt,
.gg-search {
  margin-left: -0.25em;
  margin-right: 0.75em;
}

.gg-trash,
.gg-link {
  margin-right: 1em;
}

.gg-push-chevron-left {
  margin-left: -0.5em;
}

.gg-push-chevron-right {
  margin-left: -1em;
  margin-right: 0.5em;
}

.gg-push-chevron-up {
  margin-bottom: -0.25em;
  margin-left: -0.75em;
  margin-right: 0.25em;
}

.gg-push-chevron-down {
  margin-top: -0.25em;
  margin-left: -0.75em;
  margin-right: 0.25em;
}

.gg-file-document {
  margin-left: -0.25em;
  margin-right: 0.75em;
}

.gg-trash {
  margin-left: -0.25em;
  margin-right: 1em;
}

.gg-extension-add,
.gg-extension-remove {
  margin-left: -0.5em;
  margin-right: 0.5em;
}

.toolbar-group h6 {
  cursor: default;
  display: inline-block;
  color: #a0a0a0;
  font-weight: normal;
  font-size: 0.9em;
  text-transform: uppercase;
  font-family: "Titillium Web";
  margin: 0;
  padding: 0;
  margin-left: 0.5rem;
  white-space: nowrap;
}

.toolbar-group > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.toolbar button {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;

  white-space: nowrap;

  font-family: "Titillium Web";
  text-transform: uppercase;
  font-size: 1em;

  color: #606060;

  padding: 0 1ex;
  background-color: transparent;
  border-radius: 3px;

  margin: 0.25em -0.25em -0.25em 0em;
  padding: 0.25em 0.5em 0.25em 1em;

  transition: color 0.3s ease, background-color 0.3s ease;

  display: flex;
  align-items: center;
}

.toolbar button:disabled {
  color: #c0c0c0;
}

.toolbar button:not(:disabled):hover {
  cursor: pointer;

  background-color: #f0f0f0;
}

.toolbar button:not(:disabled):active {
  background-color: #e8e8e8;
}

/* Tutorial */

.toolbar button.tutorial-relevant {
  text-shadow: 0 0 8px hsl(45, 100%, 50%);
}

.toolbar button:disabled.tutorial-relevant {
  text-shadow: 0 0 8px hsla(45, 100%, 50%, 40%);
}

.toolbar button.tutorial-not-introduced {
  color: #d0d0d0;
}

.toolbar button:disabled.tutorial-not-introduced {
  color: #e0e0e0;
}

.tutorial a.important-link {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #00000028;
  transition: border-color 150ms;
}

.tutorial a.important-link:hover {
  border-color: #00000080;
}

.tutorial ~ .overview {
  padding-right: 30rem;
}

.tutorial {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  width: 24rem;
  padding: 1rem;
  background-color: hsl(45, 100%, 85%);
  border-radius: 6px;

  max-height: 90vh;
  max-height: calc(100vh - 6rem);
  overflow-y: auto;

  z-index: 600;
}

@media (max-width: 1000px) {
  .tutorial {
    position: static;
    width: auto;
    border-radius: 0;

    z-index: 500;
  }

  .tutorial ~ .overview {
    padding-right: 2rem;
  }
}

.tutorial h1 {
  font-size: 1em;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin: 0;
}

.tutorial p {
  margin: 0;
  margin-top: 1rem;
}

.tutorial strong {
  font-size: 0.8em;
  font-family: "Montserrat";
  text-transform: uppercase;
}

.tutorial .fake-button {
  white-space: nowrap;

  font-family: "Titillium Web";
  text-transform: uppercase;
  font-size: 0.8em;

  color: #606060;

  display: inline-flex;

  vertical-align: bottom;
  margin-right: 0.5em;
}

.tutorial .fake-button .icon {
  --ggs: 0.6;

  margin: 0;
  padding: 0;

  margin-top: 0.15em;
}

.tutorial .fake-button .icon.gg-trash {
  margin: 0;
  margin-top: 0.5em;
  margin-right: 0.1em;
}

.tutorial .fake-button .icon.gg-file-document {
  margin: 0;
  margin-left: 0.3em;
  margin-top: 0.3em;
}

.tutorial .fake-button .icon.gg-maximize-alt {
  margin: 0;
  margin-left: 0.1em;
  margin-right: 0.1em;
  margin-top: 0.4em;
}

.tutorial .tutorial-navigation {
  margin-top: 1rem;

  display: flex;
  justify-content: flex-end;
}

.tutorial-navigation button {
  background: none;
  margin: none;
  border: none;
  outline: none;

  background-color: #00000010;
  color: #000000a0;
  padding: 0.25em 0.5em;
  border-radius: 3px;

  font-size: inherit;
  font-size: 0.9em;
  text-transform: uppercase;

  color: #000000a0;

  transition: background-color 300ms;
}

.tutorial-navigation button:not(:disabled):hover {
  cursor: pointer;
  background-color: #00000028;
}

.tutorial-navigation button + button {
  margin-left: 1em;
}

.tutorial-navigation button:disabled {
  background-color: #00000004;
  color: #00000040;
}

.tutorial .step {
  cursor: default;
  margin-left: 0.5em;
  color: #00000040;
}

.email {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #00000028;
  transition: border-color 150ms;
}

.email:hover {
  border-color: #00000080;
}

/* Table view */

.children-table table {
  margin-top: 1em;
  /*border-collapse: collapse;*/
  width: 100%;

  border-spacing: 0 1em;
}

.children-table table td {
  vertical-align: top;
  padding: 0.5em;
  border: 1px solid #f0f0f0;
  border-left: none;
}

.children-table tbody tr td:first-child {
  border-radius: 6px 0 0 6px;
  border-left: 1px solid #f0f0f0;
}

.children-table tbody tr td:last-child {
  border-radius: 0 6px 6px 0;
}

.children-table table td > ul {
  list-style: none;
  margin: 0;
  padding: 0;

  margin-bottom: -0.8em; /* Cancel out padding on list item */
}

.children-table table td > ul > li {
  margin: 0;
  padding: 0;
}

.children-table thead td {
  border: none;
  padding: 0;
}

.children-table thead td > span {
  cursor: default;
  padding: 0 0.25em;
  border-radius: 6px;
  font-family: "Titillium Web", sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  background-color: #e9eef0;
  color: #7d9196;
}

/* Changelog */

.changelog {
  position: fixed;
  bottom: 2rem;
  left: 2rem;

  width: 24rem;
  max-width: calc(100vw - 6rem);
  padding: 1rem;

  max-height: calc(100vh - 6rem);

  background-color: hsl(0, 0%, 97%);
  border-radius: 6px;

  z-index: 600;

  font-size: 0.9em;
}

.changelog > button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;

  outline: none;
  border: none;
  background: none;
  font: inherit;

  font-family: "Titillium Web";
  text-transform: uppercase;
  font-size: 0.9em;

  color: #a0a0a0;

  transition: color 150ms;
}

.changelog > button:hover {
  cursor: pointer;

  color: #606060;
}

.changelog-entries {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;

  max-height: 24rem;
  overflow-y: auto;
}

.changelog-entry + .changelog-entry {
  margin-top: 1rem;
}

.changelog-entry h2 {
  font: inherit;
  font-weight: bold;
  margin: 0;
}

.changelog-entry > ul {
  list-style: disc;
  padding-left: 2rem;
}

/* Splash screen */

.splash-outer {
  z-index: 900;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: #ffffff60;
  backdrop-filter: blur(6px);

  display: grid;
  place-items: center;
}

.splash-main {
  background-color: #f8f8f8;
  padding: 2rem;
  border-radius: 6px;
  border: 2px solid #e0e0e0;
  box-shadow: #00000020 0 0 18px;

  width: 30rem;
}

.splash-main h1 {
  font-size: 1em;
  font-family: "Montserrat";
  text-transform: uppercase;
}

.splash-main > * {
  margin: 0;
}

.splash-main > * + * {
  margin-top: 1rem;
}

.splash-header {
  color: #00000040;
  font-size: 0.8em;
  font-style: italic;
}

.splash-nav {
  display: grid;
  grid-template-columns: [prev] 50% [next] 50%;
}

.splash-nav button:first-child {
  grid-column: prev;
  justify-self: start;
}

.splash-nav button:last-child {
  grid-column: next;
  justify-self: end;
}

.splash-nav button {
  background: none;
  margin: none;
  border: none;
  outline: none;

  background-color: #00000010;
  color: #000000a0;
  padding: 0.25em 0.5em;
  border-radius: 6px;

  font-family: inherit;
  font-size: 1em;

  transition: background-color 300ms;

  cursor: pointer;
}

button.suggested-button {
  background-color: hsl(190, 20%, 40%);
  color: hsl(190, 10%, 95%);
  font-weight: bold;
}

.splash-nav button:not(:disabled):hover {
  background-color: #00000028;
}

.splash-nav button.suggested-button:not(:disabled):hover {
  background-color: hsl(190, 30%, 50%);
}

.splash-nav button + button {
  margin-left: 1em;
}

.splash-nav button:disabled {
  background-color: #00000004;
  color: #00000040;
}

.splash-image {
  border-radius: 6px;
  width: 100%;
  height: 15rem;
  background-color: var(--overview-bg-color);
  border: 1px solid #e0e0e0;
  padding: 1px;
}

.splash-image img {
  border-radius: 5px;
}
