@use "../style/base";
@use "../style/components";
@use "general";

.top-bar {
  width: 100vw;
  box-sizing: border-box;

  display: flex;

  padding: (base.$ui-small-font-size / 2) 1rem;
  @include components.overlay;
  z-index: 1500;

  .left {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .middle {
    margin: 0 2em;
  }

  .right {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .search-bar {
    cursor: text;
    font-size: 0.9em;
    width: 50vw;
    background-color: #f8f8f8;
    padding: 0.2em 0.5em;
    border-radius: 6px;
    border: 1px solid #e0e0e0;

    @include general.placeholder-text(#aaa);

    transition: opacity base.$quick-transition-time;

    &:hover {
      border-color: #d0d0d0;
    }

    &.searching {
      opacity: 0;
      cursor: default;
    }
  }

  .logo {
    @include components.logo;
    margin-right: 1rem;
  
    transition: color base.$quick-transition-time;
    color: #606060;
    &:hover {
      color: #404040;
    }
  }

  button {
    white-space: nowrap;
  
    font-size: base.$ui-small-font-size;
    color: base.$top-bar-ui-color;
    @include base.subtle-button(base.$top-bar-ui-color);
  }

  #current-user {
    a {
      @extend button;
      text-decoration: inherit;
  
      font-size: base.$ui-small-font-size;
      color: base.$top-bar-ui-color;
      @include base.subtle-button(base.$top-bar-ui-color);
    }
  
    a.username {
      margin-right: 1rem;
    }
  }
}
