@use "../style/base";
@use "../style/components";
@use "general";

.top-bar {
  display: flex;
  justify-content: flex-start;

  padding: (base.$ui-small-font-size / 2) 1rem;
  @include components.overlay;
  z-index: 1500;

  .logo {
    @include components.logo;
    margin-right: 1rem;
  
    transition: color base.$quick-transition-time;
    color: #606060;
    &:hover {
      color: #404040;
    }
  }

  button {
    white-space: nowrap;
  
    font-size: base.$ui-small-font-size;
    color: base.$top-bar-ui-color;
    @include base.subtle-button(base.$top-bar-ui-color);
  }

  #current-user {
    margin-left: auto; /* Right align */
    text-align: right;
  
    a {
      @extend button;
      text-decoration: inherit;
  
      font-size: base.$ui-small-font-size;
      color: base.$top-bar-ui-color;
      @include base.subtle-button(base.$top-bar-ui-color);
    }
  
    a.username {
      margin-right: 1rem;
    }
  }
}
